.contacts li a.twitter:hover {
  color: #00b8ff;
}

.contacts li a.instagram:hover {
  color: rgb(225, 48, 108);
}

.contacts li .telegram:hover {
  color: #229ED9;
}
.contacts li a.icon.telegram:hover {
  src: "https://upload.wikimedia.org/wikipedia/commons/8/82/Telegram_logo.svg";
}
.contacts li:hover {
  transform: scale(1.1);
}

main {
  background-color: #e5e5f7;
  opacity: 0.95;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #918e8e, #130c25 );
}

.ten.wide.column {
  transition: background-color 0.3s ease-out 100ms;
}

.six.wide.column {
  transition: background-color 0.3s ease-out 100ms;
}

.six.wide.column:hover {
  background-color: rgb(250, 250, 250);
  transform: scale(1.009);
}

.six.wide.column>section:hover{
  background-color: rgb(230, 230, 230);
  transform: scale(1.009);
}

.ten.wide.column:hover {
  background-color: rgb(250, 250, 250);
  transform: scale(1.009);
}

.timeline li:hover{
  background-color: rgb(230, 230, 230);
  transform: scale(1.009);
}

.static {
  display: block;
}
section{
  cursor: default;
}
li{
  cursor: default;
}
a.project{
  margin: 5px;
}
.secondary{
  font-weight: normal;
  margin-left: 1vw;
  font-size: small;
}
#language-choice-bar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#language-choice-bar>:nth-child(n){
  border-right: black 2px solid;
  padding: 0 .5vw 0 .5vw ;
  margin: 0;
}
#language-choice-bar>:last-child{
  border-right: black 0px solid;
}

.ten.wide.column.border-right {
    border-right: 1px solid #ccc !important;
}

.ten.wide.column.border-left {
    border-left: 1px solid #ccc !important;
}
